body {
    background-color: rgba(31, 31, 31, 0.9);
    font-family: 'EB Garamond', serif;
    font-weight: 500;
    font-size: 1.1em;
}


.movie-list-container {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    width: 90%;
    margin: auto;
    color: whitesmoke;
    padding: 3rem;
}

.movie-card {
    width: 300px;
    height: 450px;
    perspective: 1000px;
    background-color: transparent;
    margin: 1rem 0;
}

.movie-card-inner {
    position: relative;
    width: 100%;
    height: 100%;
    transition: transform 0.7s;
    transform-style: preserve-3d;
    box-shadow: 5px 5px 8px rgba(0, 0, 0, 0.2);
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
    border-radius: 5%;
}

.movie-card-front,
.movie-card-back {
    position: absolute;
    width: 100%;
    height: 100%;
    transition: transform 0.3s;
    transform-style: preserve-3d;
    box-shadow: 5px 5px 8px rgba(0, 0, 0, 0.2);
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
    overflow: hidden;
    border-radius: 5%;
    border: 1px solid white;
}

.movie-card-back {
    background-color: rgba(0, 0, 0, .85);
    transform: rotateY(180deg);
    -webkit-backface-visibility: hidden;
    backface-visibility: hidden;
    overflow: auto;
    /* ***** */
    display: flex;
    flex-direction: column;
    align-items: center;
}

.movie-card-back div {
    height: 60%;
    overflow-y: auto;
}

.movie-card-back h4,
h5 {
    color: darkgoldenrod;
    text-align: center;
}

.movie-card-back h5 {
    margin-top: 0;
}

.overview {
    padding: 0 0.5rem;
    text-align: justify;
    font-style: italic;
}

.movie-card:hover .movie-card-inner {
    transform: rotateY(180deg);
}

.movie-card:hover .movie-card .info {
    -webkit-backface-visibility: hidden;
    backface-visibility: hidden;
    display: none;

}

.search-bar {
    width: 90%;
    margin: 3rem auto 1rem;
}

.search-bar input {
    width: 100%;
    padding: 0.8rem 0.5rem;
    border: 2px solid #ccc;
    border-radius: 10px;
    font-size: 1rem;
}

.play-button {
    width: 50px;
    height: 50px;
    background-color: #3498db;
    border: none;
    border-radius: 50%;
    display: flex;
    align-items: center;
    justify-content: center;
    cursor: pointer;
    transition: background-color 0.3s ease;
    margin-bottom: 20px;
}

/* Style for the play icon inside the button */
.play-button::before {
    content: '\25B6';
    /* Unicode character for a right-pointing triangle (play icon) */
    font-size: 24px;
    color: #fff;
}

/* Hover effect */
.play-button:hover {
    background-color: #2980b9;
}
